@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,700;1,300&display=swap');




body {
    background-color: #5de6de;
    background-image: linear-gradient(315deg, #4dbdb5 0%, #b58ecc 74%);
    color: white;
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

ul {
    padding: 0;
    margin: 0;

}
.nav {
    background-color: white;
    
}
.nav-list li {
    list-style-type: none;
     
  
  
}
header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2em 0 2em;
}
.logo {
    color: #b58ecc;
    font-weight: bold;
   
}
a.logo{
    text-decoration: none;
    padding-right: 5em;
    font-size: 2em;

   
}
span {
    background-color: #b58ecc;
    color: white;
    border-radius: 10px;
   
}
.nav-list{
    display: flex;

}
.nav-list a {
    display: block;
    justify-content: center;
    text-decoration: none;
    color: #5de6de;
    padding: 0 0em 0 1em;
    font-weight: medium;
    font-size: 1.5em;


}

.hero {
    display: flex;
    justify-content: center;
    padding: 5em;
   
}

#picture {
    align-self: center;
    height: 300px;
    width: 300px;
    border-radius: 50%;
    margin-bottom: 5em;
    
    
}
.text-bio {
    text-align: center;
    
    font-size: 1.3em;
    font-weight: 500;
    width: auto;
    padding: 2em 0 0 2em;
    
}
.text-bio h3 {
    font-size: 0.85em;
    font-weight: bold;
}
.trybe {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
}
section {
    background-color: white;
    color: #b58ecc;
}








.social-media {
    width: 50%;
    display: flex;

    justify-content: space-evenly;
    
    border: 1px black solid;
    padding: 1.5em 0;
    border-radius: 50em;


}
.social-media img {
    height: 50px;
    padding: 0 1em 0 1em;
}