@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,700;1,300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
html,
body {
    scroll-behavior: smooth;
    
    width: 100vw;
    background-color: #5de6de;
    background-image: linear-gradient(315deg, #4dbdb5 0%, #b58ecc 74%);
    color: white;
    font-family: 'Poppins', sans-serif;
    
}
nav {
    display: flex;
    
    background-color: white;

    height: 10vh;
    align-items: center;    
}
.nav-list{
      
    display:flex;
    justify-content:center;
    width: 35%;
    text-align: center;
    align-items: center;
    
    height: 100%;
    list-style-type: none;
    font-size: 1em;    
}

a.logo-link{
    display: flex;
    justify-content: center;
    width: 60%;
    text-decoration: none;
    height: 100%;
    text-align: center;
    align-items: center;
    font-size: 2em;
    color: #b58ecc;
    font-weight: bold;
}
.nav-list a {
    text-decoration: none;
    color: #5de6de;
    padding: 0 0em 0 1em;
    font-weight: 500;
    font-size: 1.3em;
    transition: all 2s ease-in;

}


span {
    background-color: #b58ecc;
    color: white;
    border-radius: 10px;
   
}



.hero {
    display: flex;
    justify-content:center;
    align-items: center;
    height: 90vh;
    
}
.avatar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
}
#picture {
   
    height: 300px;
    width: 300px;
    border-radius: 50%;
    margin-bottom: 5em;
    
}
.text-bio {
    
    max-width: 500px;
   
    margin-left: 2.5em;
    
}
.text-bio p{
   
  
    font-size: 1.5em;
   
}
.text-bio h3 {
    color:#5de6de;
    font-size: 1em;
    font-weight: bold;
    
}
.trybe {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
}


.btn-arrow {
    margin-bottom: -9em;
    width: 30px;
    height: 30px;
    
    transition: ease 1s;
    animation: mymove 2s infinite;
    
}
@keyframes mymove {
    from {margin-bottom: -5em;}
    to {margin-bottom: -9em;}

}
.btn-arrow:hover {
    width: 45px; 
    height: 45px; 
    
  
}

section {
    
    height: 90vh;
   
    color: #b58ecc;
}
.card-skill {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2em 0;
    
    
    
    background-color: white;
    
}
.card-skill img {
    
    width: 100px;
    height: 100px;
   
}
.image-container {
    display: flex;
    align-items: center;
    justify-content: center;
   
    
}
.card-skill h3 {
    text-align: center;
       
}

.card-skill p {
    text-align: center;
    width: 200px;
    font-size: 0.85em;
    margin: 1.5em 0;
   
  
}
.cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 2.5em;
    height: 350px;
    width: auto;
    margin: 0 2em 0 2em;
    border-radius: 3em;
    box-shadow: 3px 1px 1px 1px rgba(0, 0,0, 0.3);
    
   
}

.social-media {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;

}

.social-media a {
    text-decoration: none;
    padding: 0 1.5em;
  
}

.social-media img {
    height: 50px;
    width: 50px;
}